<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="MyConnectionString" connectionString="server=SKAB4-PC-01\KIM;database=dateingappDatabase;UID=sa;password=Pa$$w0rd"/>
  <!--<add name ="MyConnectionString" connectionString="server=DESKTOP-5QOPHSN\SQLOPG;database=dateingappDatabase;UID=sa;password=Wak40336"/>-->
</connectionStrings>
</configuration>